.heimu {
  background-color: #252525 !important;
  color: #252525 !important;
}
@media only print {
  .print-invisible * {
    display: none !important;
  }
}
@media mq-mobile {
  .mobile-hide {
    display: none !important;
  }
}
@media mq-mini {
  .mobile-hide {
    display: none !important;
  }
}
.article-author {
  float: right;
  line-height: 1em;
  color: color-default;
  margin-right: 10px;
}
.article-simple {
  padding-left: 20px;
  background: #fff;
  font-size: 15px;
}
.article-simple-header {
  padding: 1px 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.article-simple-title {
  color: #000;
}
a.article-simple-title:visited {
  color: #000;
}
a.article-simple-title:hover {
  color: #38b7ea;
}
.article-simple-span {
  color: #777;
  font-size: 13px;
  padding-right: 5px;
}
.archive-list-year-wrap {
  background: #fff;
  padding: 15px 20px 5px 22px;
  margin: 40px 0 0px 0;
}
